<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Un Wiki pour les fans d'animes">
        <meta name="keywords" content="Anime, Wiki">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` and uncomment the following Encore helpers to start using Symfony UX #}
        <!-- Css Styles -->
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('css/elegant-icons.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('css/plyr.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('css/nice-select.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('css/slicknav.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('css/groupe2_style.css')}}" type="text/css">

        {% block stylesheets %} {#{{ encore_entry_link_tags('app') }}#} {% endblock %}

    </head>
    <body>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>
        <!-- Header Section Begin -->
        <header class="header">
            <nav class="row container mx-auto">
                <section class="col-lg-2 header__logo">
                    <a href="./index.html">
                        <img id="logo_wikanime" src="{{asset('img/logowikanime.png')}}" alt="logo_wikanime" title="Logo Wikanime">
                    </a>
                </section>
                <section class="col-lg-8 header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="{{ path('home') }}">Page d'accueil</a></li>
                            <li><a href="{{ path('anime-list') }}">Liste animes </a></li>{# <span class="arrow_carrot-down"></span></a> #}
                            <li><a href="{{ path('register') }}">Créer un compte</a></li>
                            <li><a href="{{ path('contact') }}">Contacts</a></li>
                        </ul>
                    </nav>
                </section>
                <section class="col-lg-2 header__right">
                    <a href="#" class="search-switch"><span class="icon_search"></span></a>
                    <a href="{{ path('login') }}"><span class="icon_profile"></span></a>
                </section>
                <div id="mobile-menu-wrap"></div>
            </nav>
        </header>
        <!-- Header End -->

        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %} {% endblock %}

        <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <section class="container row mx-auto justify-content-center">
            {# <div class="row">
                <div class="col-lg-3"> #}
                <figure class="footer__logo col-lg-3">
                    <a href="./index.html">
                        <img id="logo_wikanime" src="{{asset('img/logowikanime.png')}}" alt="logo_wikanime" title="Logo Wikanime">
                    </a>
                </figure>
                {# </div> #}
                <nav class="col-lg-6 footer__nav">
                    {# <div class="footer__nav"> #}
                        <ul>
                            <li><a href="{{ path('home') }}">Page d'accueil</a></li>
                            <li><a href="{{ path('anime-list') }}">Liste animes </a></li>{# <span class="arrow_carrot-down"></span></a> #}
                            <li><a href="{{ path('register') }}">Créer un compte</a></li>
                            <li><a href="{{ path('contact') }}">Contacts</a></li>
                        </ul>
                    {# </div> #}
                </nav>
                <p class="col-lg-3"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                {# <p class="col-lg-3"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p> #}
                {# </div> #}
            {# </div> #}
        </section>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

        <!-- Js Plugins -->
        <script src="{{asset('js/jquery-3.3.1.min.js')}}"></script>
        <script src="{{asset('js/bootstrap.min.js')}}"></script>
        <script src="{{asset('js/player.js')}}"></script>
        <script src="{{asset('js/jquery.nice-select.min.js')}}"></script>
        <script src="{{asset('js/mixitup.min.js')}}"></script>
        <script src="{{asset('js/jquery.slicknav.js')}}"></script>
        <script src="{{asset('js/owl.carousel.min.js')}}"></script>
        <script src="{{asset('js/main.js')}}"></script>

        {% block javascripts %}{#{{ encore_entry_script_tags('app') }}#}{% endblock %}

    </body>
</html>